* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body{
  margin:0; //get rid of white border around colored backgrounds
}

.landing-page {
   display: flex;
   flex-direction: column;
  	align-items: center;
  	position: relative;
  	top: 160px;
}

.landing-page h1 {
	color: red;
	font-size: 1.8rem;
}

.search-form input {
	width: 500px;
   height: 40px;
   padding: 10px;
   font-size: 1.2rem;
   border: 1px solid lightgray;
   border-radius: 1px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.04);
}

.logo {
	width: 350px;
	margin-bottom: 20px;
}

.scroll-btn {
	width: 75px;
	margin-top: 200px;
}
///////////
//Header//
//////////
.header {
	border: 1px solid lightgray;
	border-radius: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.07);
}

.headSearch{
	display:inline-block;
	padding:20px;
}

.header .navigation-k{ //Navigation bar K logo
	display:inline-block;
	width:40px;
	margin-top:20px;
	margin-left:20px;
	float:left;
}

.BarGraph{
	margin-top: 100px;
	margin: 10px;
	padding-bottom: 500px;
	border: 1px solid lightgray;
	border-radius: 3px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.07);
}


////////////////
//Mission Page//
///////////////
.mission-main {
  background-color: #E22136;
  height:100vh;
}
.missionStatement {
	align-content: center;
  color:white;
  position:absolute;;
  width: 600px;
  height: 400px;

  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.missionStatement img{
	padding-left: 130px;
	width: 450px;
}
.missionStatement #columns{
  -webkit-column-count:2;
}
.missionStatement h3{
	text-align: center;
  font-size: 30px;
}

.missionStatement p{
  margin:0;
  font-size: 20px;
}

.members-container{
	margin:20px;
	padding:10px;
	border: 1px solid lightgray;
	border-radius: 3px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.07);
}

.member-picture {
  width: 250px;
  margin: 0 auto;
}

.member-info-container {
	display:inline-block;
  width: 300px;
  padding: 10px;
  margin: 30px;
	display: inline-block;
}

.analytics-container {
	position:absolute;
	display:inline-block;
	align-self: auto;
	margin-left: 30px;
	margin-top: 50px
}



.member-details {
  padding-left: 0;
}

.member-details li {
  list-style: none;
}



@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
  	.logo {
  		width: 400px;
  	}
}


@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
